@media (max-width:768px) {

    .about-main-div {

        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: start;
    }

    .about-para {
        margin-top: 15%;
        width: 100%;

        h3 {
            font-weight: 600;
            /* background-color: yellow; */
            margin: 0 0 0 4% !important;
        }

        .img-eyes {
            width: 10%;
            margin: -6% 0 0 17% !important;
        }

        .para-01 {
            font-size: 1rem;
            margin-left: 3%;
            width: 90%;

        }

        .para-02 {
            font-size: 1rem;
            margin-left: 3%;
            width: 90%;

        }

        .para-3 {
            font-size: 1rem;
            background-color: red !important;

        }

    }


    .chakra-div {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        /* background-color: rgb(255, 0, 43); */
        margin-top: -30%;
        height: fit-content;
        width: 100%;

        .my-div-01 {
            width: fit-content;
            width: 38%;
            right: 0%;
            left: 20%;
            top: 0%;
            position: relative;

            .contentsy1 {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                position: absolute;
                top: 30%;
                left: 13%;
            }

            span {
                /* background-color: yellow; */
                color: #ff0057;
                font-size: 2rem;
            }
        }

        .my-div-02 {
            width: 45%;
            position: relative;
            right: 0%;
            top: 12%;
            margin-left: auto;

            .contentsy2 {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                position: absolute;
                top: 30%;
                left: 15%;
            }

            span {
                color: #ff0057;
                font-size: 2rem;
            }


        }

        .my-div-03 {
            width: 48%;
            position: relative;
            bottom: 8%;
            left: 17%;
            height: fit-content;

            .contentsy3 {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                position: absolute;
                top: 32%;
                left: 14%;

                span {
                    color: #ff0057;
                    font-size: 2rem;
                }
            }
        }


    }


    .dp-02 {
        width: 30%;
        right: 0;
        margin: 0 0 0 0;
        /* background-color: red; */
    }

    .dp-line {
        margin: 64px 0 0 71% !important;
        /* display: none; */
    }
}


@media (max-width: 420px) {

    .about-main-div {
        /* background-color: red; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* margin-top: 10%; */
    }

    .about-main-div .about {
        font-size: 0.85rem;
        letter-spacing: 5px;
    }

    .about-main-div .about-line {
        width: 20%;
    }

    .about-para .img-eyes {
        display: none;
    }

    .about-para {
        width: 90%;

        .dp-01 {
            display: none;
        }

        .para-01 {
            margin: 6% 0 10% 1%;
            letter-spacing: 0.2px;
            font-size: 0.4rem;
            line-height: 10px;
            visibility: hidden;
        }

        .para-02 {
            margin: 6% 0 10% 1%;
            letter-spacing: 0.2px;
            font-size: 0.4rem;
            line-height: 10px;
            visibility: hidden;
        }

        .para-03 {
            margin: 6% 0 10% 1%;
            letter-spacing: 0.2px;
            font-size: 0.4rem;
            line-height: 10px;
            visibility: hidden;
        }

        .para-res {
            margin: -55% 0 10% 1%;
            letter-spacing: 0.5px;
            font-size: 0.8rem;
            line-height: 1rem;
            visibility: visible;
        }
    }

    .chakra-div {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        /* background-color: rgb(255, 0, 43); */
        /* margin-top: -30%; */
        height: fit-content;
        width: 100%;

        .my-div-01 {
            width: fit-content;
            width: 38%;
            right: 0%;
            left: 20%;
            top: 20%;
            position: relative;

            .contentsy1 {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                font-size: 1rem;
                position: absolute;
                top: 35%;
                left: 18%;
            }

            span {
                /* background-color: yellow; */
                color: #ff0057;
                font-size: 1rem;
            }

            h4 {
                /* background-color: red; */
                font-size: 0.5rem;
            }
        }

        .my-div-02 {
            width: 40%;
            position: relative;
            right: 5%;
            top: 30%;
            margin-left: auto;

            .contentsy2 {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                position: absolute;
                top: 30%;
                left: 15%;
            }


            span {
                /* background-color: yellow; */
                color: #ff0057;
                font-size: 1rem;
            }

            h4 {
                /* background-color: red; */
                font-size: 0.5rem;
            }
        }

        .my-div-03 {
            width: 45%;
            position: relative;
            /* bottom: 8%; */
            left: 23%;
            top: 17%;
            height: fit-content;

            .contentsy3 {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                position: absolute;
                top: 34%;
                left: 17%;

                span {
                    /* background-color: yellow; */
                    color: #ff0057;
                    font-size: 1rem;
                }

                h4 {
                    /* background-color: red; */
                    font-size: 0.5rem;
                }
            }
        }


        .dp-line {
            display: none;
        }

        .stv-logo {
            /* display: none; */
            position: absolute;
        }


    }

}