@media (max-width:768px) {
    .card {
        height: 200px;
    }

    .card .back {
        background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .desc {
            /* display: none; */
            min-height: 100px;
            max-height: 100px;
            overflow-y: scroll;
            /* background-color: green; */
            margin-bottom: 0;
            margin-top: 10px;
        }

        .card-button-div {
            margin: 0;
            margin-top: 7px;
        }
    }
}


@media (max-width:420px) {

    .card {
        /* background-color: red; */
        width: 330px;
        margin-left: 30px;
        height: 300px;
        perspective: 1000px;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
    }

    .E-stavya {
        filter: invert(100%) brightness(10000%);
        /* background-color: rebeccapurple; */
        width: 17% !important;
        margin-top: -2% !important;
        left: 80% !important;
    }

    .E-deep {
        filter: invert(100%) brightness(10000%);

        position: absolute;
        width: 18% !important;
        margin-top: 4% !important;
        left: 80% !important;
    }

    .E-line {
        filter: invert(100%) brightness(10000%);

        position: absolute;
        margin-top: 6% !important;
        left: 80% !important;
        width: 16% !important;
    }

    .E-main-text {
        font-size: 4.7rem !important;
        font-weight: bold;
        color: white;
        letter-spacing: 4px !important;
    }

    .E-sub-text {
        /* display: none; */
        position: absolute;
        top: 54%;
        width: 100%;
        left: 49.6%;
        font-size: 10px !important;
        letter-spacing: 10px;
        color: white;
        font-weight: 600;

    }


}