@media (max-width: 500px) {

    .card {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 10%;

        .eventname {
            font-size: 2rem;
        }
    }


    .E-deep {
        visibility: hidden;
    }

    .E-stavya {
        visibility: hidden;
    }

    .E-line {
        visibility: hidden;
    }

    .E-sub-text {
        width: 100vw;
        letter-spacing: 0.3rem;
        overflow: hidden;
    }

    .E-image-div .E-chakra09 {
        position: absolute;
        width: 40%;
    }
}