@media (max-width: 500px){

    .glimpse-main{
        margin-top: 15%;
    }

    .glimpse-div .stvya-glimp {
        font-size: 1rem;
        letter-spacing: 1px;
        margin: 2% 0 0 1%;
    }

    .glimpse-div .glipm-line-01 {
        width: 40%;
        margin-left: -5%;
        margin-top: -3%
    }

    .glimpse-div .glimp-dp-02 {
        opacity: 0.5;
        margin-top: 2.5%;
    }

    .glimpse-div .glimp-stvya {
        opacity: 0.8;
        width: 15%;
        margin-top: 5%;
        margin-left: -9%;
    }

    .glimpse-img{
        width: 60%;
        margin-left: 13%;
    }

    .button-div .M-button{
        width: 7rem;
        height: auto;
    }

    .button-div .M-button .circle {
        margin: 4% 0 0 0;
        width: 2rem;
        height: 2rem;
    } 

    .button-div .M-button .circle .icon.arrow {
        left: 1.3rem;
        width: 0rem;
        height: 0rem;
    }

    .button-div .M-button .button-text {
        font-size: 0.8rem;
        letter-spacing: 1px;
        text-align: left;
        left: 10%;
    }

    .button-div .M-button{
        pointer-events: none;
    }

}