@media (max-width:420px) {

    .homepage-main{
        height: 30vh;
    }
    .home-text {
        width: 100%;
        /* background-color: red; */
        display: flex;
        justify-content: start;
        flex-wrap: wrap;

        .home-stvya {
            font-size: 3rem;
            margin-left: 0%;
            margin-top: 10%;

            /* filter: invert(100%) brightness(1000%);    */
            /* letter-spacing: 10px; */
            /* font-weight: 500; */
            /* font-family: 'Sakana'; */
            .letter {
                font-size: 2.5rem;
                margin: -2%;
            }
        }



        .home-culxlit {
            width: fit-content;
            color: #bd8a54;
            /* letter-spacing: 3px; */
            font-size: 0.8rem;
            font-weight: 600;
            margin: 18% 0 0 -14%;
            /* background-color: red; */
        }

        .home-shlok {
            color: #ffff;
            /* width: fit-content; */
            /* display: none; */
            height: fit-content;
            /* background-color: blue; */
            font-size: 0.6rem;
            font-weight: 100;
            margin: -18px 0 0 5%;
            letter-spacing: 1.5px;
            font-family: 'Roundelay-Thin';
        }

        .home-para {
            font-size: 0.7rem;
            width: 90%;
            font-weight: 100;
            /* background-color: rebeccapurple; */
            letter-spacing: 1px;
            margin: 1% 0 0 0%;
        }
    }


    .stvya-logo {
        display: none;
    }

    .img-div {
        .ch-img-02 {
            width: 50%;
            opacity: 0.5;
            top: 20%;
            margin: 0% 0 0 60%;

            /* background-color: red; */
        }

        .ch-img-05 {
            width: 25%;
            opacity: 0.5;
            left: 55%;
            margin: 40% 0 0 0%;
        }

        .ch-img-08 {
            width: 60%;
            opacity: 0.8;
            margin-top: -5%;
        }
    }
}