@media (max-width: 1500px) {
    .homepage-main .stvya-logo {
        background-color: greenyellow;
        margin: -4.3% 0 0 32.2%;
    }

    .home-text .home-culxlit {
        margin: -11% 30% 0 100%;
    }
}

@media (max-width: 1490px) {
    .homepage-main .stvya-logo {
        background-color: greenyellow;
        margin: -4.3% 0 0 32.2%;
    }

    .home-text .home-culxlit {
        margin: -11% 30% 0 101%;
    }
}

@media (max-width: 1480px) {
    .homepage-main .stvya-logo {
        background-color: green;
        margin: -4.3% 0 0 32.3%;
    }

    .home-text .home-culxlit {
        margin: -11% 30% 0 101%;
    }
}

@media (max-width: 1470px) {
    .homepage-main .stvya-logo {
        background-color: red;
        margin: -4.3% 0 0 32.5%;
    }

    .home-text .home-culxlit {
        margin: -11% 30% 0 102%;
    }
}

@media (max-width: 1450px) {
    .homepage-main .stvya-logo {
        background-color: skyblue;
        margin: -4.3% 0 0 33%;
    }

    .home-text .home-culxlit {
        margin: -11% 30% 0 103%;
    }
}

@media (max-width: 1430px) {
    .homepage-main .stvya-logo {
        background-color: yellowgreen;
        margin: -4.3% 0 0 33.7%;
    }

    .home-text .home-culxlit {
        margin: -11% 30% 0 105%;
    }
}

@media (max-width: 1400px) {
    .homepage-main .img-div .ch-img-02 {
        width: 39%;
        margin: -17.5% 0 0 62%;
    }

    .homepage-main .img-div .ch-img-05 {
        width: 34%;
        margin: 20% 0 0 50%;
    }

    .homepage-main .img-div .ch-img-08 {
        width: 55%;
        margin: -13% 0 0 0;
    }

    .homepage-main .stvya-logo {
        background-color: yellow;
        margin: -4.3% 0 0 32.4%;
    }

    .home-text .home-stvya {
        margin: 20% 0 0 10%;
        font-size: 9.5rem;
    }

    .home-text .home-culxlit {
        margin: -11% 30% 0 102%;
    }

    .home-text .home-shlok {
        font-size: 1.4rem;
        margin: 5px 0 0 14%;
    }

    .home-text .home-para {
        margin: 2% 0 0 10%;
    }

    .home-text .M-button {
        margin: 20px 0 0 100%;
    }
}

@media (max-width: 700px) {
    .homepage-main .stvya-logo {
        background-color: red;
        margin: -4.3% 0 0 33.7%;
    }

    .home-text .home-culxlit {
        background-color: red;
        margin: -11% 30% 0 105%;
    }
}

@media (max-width: 800px) {
    body {
        /* background: linear-gradient(90deg, #000000, #737373); */
    }

    .homepage-main {
        margin-top: 15%;
        height: 30vh;
        margin-bottom: 20%;
    }

    .homepage-main .stvya-logo {
        width: 22%;
        background-color: transparent;
        margin: -8.5% 0 0 41.5%;
    }

    .home-text .home-culxlit {
        background-color: transparent;
        margin: -13% 30% 0 135%;
        font-size: 0.5rem;
    }

    .home-text .home-stvya {
        width: fit-content;
        font-size: 3rem;
        margin-left: 10%;
        margin-top: 20%;
    }

    .home-text .home-shlok {
        font-size: 0.5rem;
    }

    .home-text .home-para {
        font-size: 0.8rem;
        width: 160%;
        word-break: break-all;
    }

    .homepage-main .img-div .ch-img-05 {
        width: 40%;
        /* margin-left: 55%;
        margin-top: 27%; */
        opacity: 0.9;
        /* animation: rotateImage 15s linear infinite; */
    }
}
