@media (max-width: 500px) {

    .membercard-container {

        width: 93%;

        .membercard-details {
            height: 100%;
            width: 70%;
        }

        .membercard-position {
            font-size: 0.8rem;
        }

        .membercard-name {
            font-size: 0.6rem;
        }

        .membercard-batch {
            font-size: 0.6rem;
        }

        .membercard-description {
            font-size: 0.6rem;
        }

        .membercard-contact {
            font-size: 0.6rem;
        }

        .membercard-social a {
            size: 0.2rem
        }
    }

    .M-deep {
        top: 1rem;
        height: 7rem;
        visibility: hidden;
    }

    .M-stavya {
        top: 1rem;
        height: 2.3rem;
        visibility: hidden;
    }

    .M-logo-container{
        width: 100vw;
    }

    .M-logo-container .M-main-text {
        /* transform: scaleX(0.6); */
        font-size: 4rem;
    }

    .M-line {
        top: 2rem;
        visibility: hidden;
    }

    .M-logo-container .M-sub-text {
        font-size: 0.6rem;
        letter-spacing: 0.35rem;
    }

    .M-image-div .M-chakra09{
        width: 30%;
    }
}