@media (max-width: 500px){

    .E-image-div2 {

        .E-deep {
            visibility: hidden;
        }
    
        .E-stavya {
            visibility: hidden;
        }
    
        .E-line {
            visibility: hidden;
        }

        .E-chakra09{
            margin-left: -20%;
            width: 30%;
            /* margin-top: 30%; */
        }
    
    }

    .sj-main-text {
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .sj-sub-text{
        font-size: 0.5rem;
    }

    .wrapper-01{
        margin-top: 0;
    }

    .back .head-data {
        h1 {
            font-size: 1.5rem;
        }
    }
}