@media (max-width:992px) {
    .sponsor-main {
        margin-top: 10%;

        h1 {
            color: white;
            margin: 0 0 0 30px;
            font-weight: 600;
            font-size: 3rem;
            letter-spacing: 2.5px;
            font-family: 'GlacialIndifference-Regular';
        }

        .img-div {
            display: flex;
            justify-content: center;
            align-items: center;
            /* background-color: rgba(152, 152, 152, 0.872); */

            .img-01 {
                margin: 0 0 0 30px;
                width: 20%;
            }

            .img-02 {
                margin: 0 0 0 30px;
                width: 20%;
            }
        }
    }
}