.about-main-div {
    display: flex;
    justify-content: center;

    .about {
        font-size: 1.5rem;
        letter-spacing: 5px;
        color: white;
        margin: 0 0 0 10%;
    }

    .about-line {
        width: 25%;
        height: 2.5px;
        opacity: 0.4;
        background-color: #ffffff;
        border: none;
        margin: 2.5px 0 0 3%;
        filter: invert(51%) sepia(100%) saturate(1000%) hue-rotate(-15deg) brightness(100%) contrast(95%);
    }

    .about-img-div {
        position: relative;

    }

}

.about-para {
    color: #ffff;
    /* background-color: red; */
    width: 50%;

    .dp-01 {
        position: absolute;
        opacity: 0.3;
        width: 15vw;
        margin: 0 0 0 8px;
        filter: invert(51%) sepia(100%) saturate(1000%) hue-rotate(-15deg) brightness(100%) contrast(95%);
    }

    .img-eyes {
        position: absolute;
        width: 6%;
        margin: -3.5% 0 0 14%;
    }


    .para-01 {
        /* background-color: red; */
        margin: 10px 0 30px 40px;
        letter-spacing: 1px;
        font-size: 1rem;
        text-align: start;
        line-height: 25px;
        font-family: 'Roundelay-Thin';
        /* width: 50%; */
    }

    .para-02 {
        /* background-color: yellow; */
        margin: 0 0 30px 40px;
        letter-spacing: 1px;
        font-size: 1rem;
        text-align: start;
        line-height: 25px;
        font-family: 'Roundelay-Thin';
        /* width: 50%; */
    }

    .para-03 {
        /* background-color: green; */
        margin: 15px 0 30px 40px;
        letter-spacing: 1px;
        font-size: 1rem;
        text-align: start;
        font-family: 'Roundelay-Thin';
        /* width: 50%; */
    }

    .para-res{
        margin: 15px 0 30px 40px;
        letter-spacing: 1px;
        font-size: 1rem;
        text-align: start;
        font-family: 'Roundelay-Thin';
        visibility: hidden;
    }
}


.chakra-div {
    position: relative;
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    width: 50%;

    .span-01 {
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        font-weight: 600;
        color: rgb(202, 142, 31);
    }

    .span-02 {
        display: flex;
        justify-content: center;
        color: rgb(204, 147, 10);
        font-size: 3rem;
        font-weight: 600;
    }

    .span-03 {
        display: flex;
        justify-content: center;
        font-size: 3rem;
        color: rgb(204, 147, 10);
        font-weight: 600;
    }

    .ch-h4-01 {
        position: absolute;
        font-size: 1rem;
        font-weight: 100;
        font-family: 'Roundelay-Thin';
        letter-spacing: 2px;
        color: white;
        margin: 13% 0 0 35%;
    }

    .ch-h4-02 {
        position: absolute;
        font-size: 1.2rem;
        font-weight: 100;
        font-family: 'Roundelay-Thin';
        letter-spacing: 2px;
        color: white;
        margin: 37% 0 0 62.2%;
    }

    .ch-h4-03 {
        position: absolute;
        font-family: 'Roundelay-Thin';
        font-size: 1.3rem;
        font-weight: 100;
        letter-spacing: 2px;
        color: white;
        margin: 52% 0 0 13.6%;
    }

    .ch-04-01 {
        /* filter: invert(100%) brightness(10000%); */
        display: flex;
        justify-content: center;
        align-items: center;
        filter: invert(51%) sepia(100%) saturate(1000%) hue-rotate(-15deg) brightness(100%) contrast(95%);
        position: absolute;
        margin: 35% 0 0 5%;
        width: 50%;
        animation: rotateImage 15s linear infinite;
    }

    .ch-04-02 {
        display: flex;
        justify-content: center;
        align-items: center;
        filter: invert(51%) sepia(100%) saturate(1000%) hue-rotate(-15deg) brightness(100%) contrast(95%);
        position: absolute;
        margin: 25% 0 0 55%;
        width: 42%;
        animation: rotateImage 15s linear infinite;
    }

    .ch-04-03 {
        display: flex;
        justify-content: center;
        align-items: center;
        filter: invert(51%) sepia(100%) saturate(1000%) hue-rotate(-15deg) brightness(100%) contrast(95%);
        position: absolute;
        margin: 3% 0 0 28%;
        width: 35%;
        animation: rotateImage 15s linear infinite;
    }

    .dp-02 {
        position: absolute;
        /* background-color: red;   */
        margin: 5% 0 0 68%;
        opacity: 0.2;
    }

    .dp-line {
        position: absolute;
        width: 23%;
        height: 2.5px;
        opacity: 0.2;
        background-color: #ffffff;
        border: none;
        margin: 67px 0 0 71%;
    }

    .stv-logo {
        width: 25%;
        height: fit-content;
        margin: -2.8% 0 0 70.5%;
        opacity: 0.3;
        position: absolute;
        filter: invert(100%) brightness(10000%);
    }

}