.contact-main {
    /* background-color: red; */
    /* background-color: blue; */
    /* margin-block-start: 40px; */
}

.cont-img-div {
    position: relative;

    .chakra09 {
        position: absolute;
        width: 25%;
        left: 900px;
        top: 40px;
        /* bottom: 0; */
        opacity: 0.2;
        background-color: red;
        animation: rotateImage 15s linear infinite;
        filter: invert(51%) sepia(100%) saturate(1000%) hue-rotate(-15deg) brightness(100%) contrast(95%);

    }

    .chakra07 {
        animation: rotateImage 15s linear infinite;
        position: absolute;
        width: 20%;
        left: 12.2px;
    }

    .stvya-logo {
        position: absolute;
        width: 8%;
        top: 100px;
        left: 104.6px;
        filter: invert(100%) brightness(10000%);
    }

    .cont-stv {
        position: absolute;
        color: #ffff;
        left: 120px;
        top: 158px;
        font-size: 0.8rem;
        font-weight: lighter;
        letter-spacing: 10px;
        width: fit-content;
    }

    .deep-02 {
        position: absolute;
        width: 15%;
        right: 9px;
    }

    .stvya-logo-02 {
        filter: invert(100%) brightness(10000%);
        /* background-color: red; */
        position: absolute;
        width: 10%;
        top: -45px;
        right: 55px;
    }

    .cont-stv-line {
        top: 25px;
        height: 2px;
        right: 55px;
        width: 10%;
        position: absolute;
    }

}

.contact-details {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        letter-spacing: 2px;
        margin: 20px 0 0 50px;
        font-weight: 100;
        font-size: 1.5rem;
        color: #ffff;
        text-align: center;
    }

    .anchor-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 30px;

        .anchor {
            display: flex;
            flex-direction: column;
            gap: 10px;

        }

        anchor a::before {
            content: '';
            background-color: #bd8a54;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }

        .anchor a:hover {
            /* color: #bd8a54; */
            filter: invert(51%) sepia(100%) saturate(1000%) hue-rotate(-15deg) brightness(100%) contrast(95%);
        }

        .anchor a:hover::before {
            transform: scaleX(1.5);
        }

        h6 {
            color: #ffff;
            font-size: 1.3rem;
            font-weight: 100;
            display: inline;
            letter-spacing: 2px;
        }

        .link-line {
            position: relative;
            color: #ffff;
            width: 150%;
            left: -25%;
            margin-top: 3px;
        }



        h4 {
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: 2px;
            color: #ffff;
        }

        a {
            letter-spacing: 1.5px;
            text-decoration: none;
            color: #ffff;
            font-size: 1rem;
        }

    }

    .copyright {
        /* display: none; */
        color: white;
        text-align: center;
        margin-top: 80px;

        h4 {
            font-size: 0.8rem;
            font-weight: 100;
            letter-spacing: 2px;
            margin-bottom: 8px;
            margin-top: 8px;
        }

        .copyright-line {
            width: 50%;
            margin-left: 25%;
        }
    }
}


@keyframes rotateImage {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}