.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    width: 30%;
    height: 300px;
    perspective: 1000px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;


}


.front span {
    color: white;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-family: 'GlacialIndifference-Regular';
}

.card .front,
.card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.card .front {
    background-color: #4A90E2;
    color: white;
    /* background: url('../images/profile.jpg'); */
    opacity: 0.8;
    background-size: cover;
}

.card .back {
    color: black;
    transform: rotateY(180deg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    p {
        letter-spacing: 1.4px;
        font-size: 1rem;
        text-align: start;
        margin: 5px 0 10px 0;

    }
}

.card:hover .front {
    transform: rotateY(-180deg);
}

.card:hover .back {
    transform: rotateY(0deg);
}

.card-button-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.card-button-div button {
    padding: 8px 16px;
    background-color: #0000;
    border: 2px solid #C70039;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    /* font-weight: bold; */
    transition: all 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4), 0 3px 6px rgba(0, 0, 0, 0.3);
}

.card-button-div button:hover {
    background-color: #fff;
    color: #C70039;
    border-color: #C70039;
    transform: translateY(-3px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5), 0 6px 12px rgba(0, 0, 0, 0.4);
}

.card-button-div button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(72, 144, 226, 0.6), 0 6px 12px rgba(0, 0, 0, 0.4);
}

/* .event-data {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
} */


.E-member-page {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: rgb(0, 0, 0);

    h3 {
        font-size: 100px;
        font-weight: 1000;
    }
}

.E-logo-container {
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
}

.E-main-text {
    font-size: 50px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}

.E-sub-text {
    position: absolute;
    top: 53%;
    width: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    letter-spacing: 13px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #000;
    /* background-color: yellow; */
    /* padding: 10px 10px; */
}

/*========images-handle============*/

.E-image-div {
    position: relative;

    .E-deep {
        position: absolute;
        width: 13%;
        margin-top: 6%;
        left: 87%;
        filter: invert(100%) brightness(10000%);
    }

    .E-stavya {
        position: absolute;
        width: 10%;
        margin-top: 2.9%;
        left: 88%;
        filter: invert(100%) brightness(10000%);
    }

    .E-line {
        position: absolute;
        margin-top: 7.5%;
        left: 88%;
        width: 10%;
    }

    .E-chakra08 {
        position: absolute;
        width: 65%;
        margin: 5% -5% 0;
        opacity: 0.1;
        z-index: -1;
        filter: invert(100%) brightness(1000%);
        animation: rotateImage 15s linear infinite;
    }

    .E-chakra09 {
        position: absolute;
        width: 50%;
        opacity: 0.1;
        margin: 40% 0 0 0;
        left: 55%;
        z-index: -1;
        filter: invert(100%) brightness(1000%);
        animation: rotateImage 15s linear infinite;
    }

    .E-design {
        position: absolute;
        left: 15%;
        z-index: -1;
        filter: invert(0%) brightness(0%) contrast(100%);
        opacity: 0.2;
        margin: 70% 20% 0 0;
    }

}


/*=======rules==========*/

.rules-tab {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.rules-button {
    margin-right: 10px;
}

.register-button {
    margin-left: 10px;
}