.wrapper-01 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;

    .inline {
        flex-shrink: 0;
    }

    /* background: red; */
}

.card .front,
.card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.card .front {
    background-color: #4A90E2;
    color: white;
    opacity: 0.8;
    background-size: cover;
}

.card .back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover .front {
    transform: rotateY(-180deg);
}

.card:hover .back {
    transform: rotateY(0deg);
}

/*======member details*/

.head-data {
    h1 {
        /* background-color: red; */
        font-size: 3rem;
        letter-spacing: 1px;
        font-family: 'ArgentumSans-Black';
    }

    h2 {
        /* background-color: antiquewhite; */
        letter-spacing: 1.5px;
        font-size: 2.5rem;
        margin-top: 0;
    }

    h4 {
        letter-spacing: 1.5px;
        font-size: 1.3rem;
        font-weight: 100;
        margin: -3px 0 0 0;
        font-family: 'Roundelay-Thin';
        /* background-color: yellow; */
    }

    p {
        letter-spacing: 1.4px;
        font-size: 1rem;
        margin: 5px 0 10px 0;
        /* background-color: green; */
    }

    .email {
        font-size: 1.1rem;
        letter-spacing: 1.5px;
        margin: -3px 0 0 0;
        font-family: 'Roundelay-Thin';
    }

    a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin: 3px;
        background: transparent;
        border: 2px solid #C70039;
        border-radius: 50%;
        font-size: 10px;
        color: #fff;
        text-decoration: none;
        transition: background 0.5s ease, color 0.5s ease;
        animation: slideLeft 1s ease forwards;
        animation-delay: calc(0.2s * var(--i));
    }

    a:hover {
        background: white;
        color: #000;
    }


    a:hover {
        background: white;
        color: #000;
    }


}

.E-image-div2 {
    position: relative;
    background-color: red;
    /* display: none; */

    .E-deep {
        position: absolute;
        width: 13%;
        margin-top: 6%;
        left: 87%;
        filter: invert(100%) brightness(10000%);
    }

    .E-stavya {
        position: absolute;
        width: 10%;
        margin-top: 2.9%;
        left: 88%;
        filter: invert(100%) brightness(10000%);
    }

    .E-line {
        position: absolute;
        margin-top: 7.5%;
        left: 88%;
        width: 10%;
    }

    .E-chakra08 {
        position: absolute;
        width: 45%;
        margin: 5% -5% 0;
        opacity: 0.1;
        z-index: -1;
        filter: invert(100%) brightness(1000%);
        animation: rotateImage 15s linear infinite;
    }

    .E-chakra09 {
        position: absolute;
        width: 25%;
        opacity: 0.4;
        margin: 20% 0 0 0;
        left: 85%;
        z-index: -1;
        filter: invert(100%) brightness(1000%);
        animation: rotateImage 15s linear infinite;
    }

    .E-design {
        position: absolute;
        left: 25%;
        z-index: -1;
        filter: invert(0%) brightness(0%) contrast(100%);
        opacity: 0.2;
        margin: 70% 20% 0 0;
    }

}

.sj-member-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);

    h3 {
        font-size: 100px;
        font-weight: 1000;
    }
}

.sj-logo-container {
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
}

.sj-main-text {
    font-size: 50px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}

.sj-sub-text {
    position: absolute;
    top: 53%;
    width: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    letter-spacing: 13px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #000;

}