.sponsor-main {
    margin-top: 10%;
    /* background-color: blue; */

    h1 {
        color: white;
        margin: 0 0 0 30px;
        font-weight: 600;
        font-size: 4rem;
        letter-spacing: 2.5px;
        font-family: 'GlacialIndifference-Regular';
    }

    .img-div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        /* background-color: rgba(152, 152, 152, 0.872); */

        .img-01 {
            background-color: white;
            margin: 0 0 0 30px;
            width: 15%;
        }

        .img-02 {
            background-color: white;
            margin: 0 0 0 30px;
            width: 15%;
        }
    }
}