/* import 'bootstrap/dist/css/bootstrap.min.css'; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  height: fit-content;
  /* background: linear-gradient(90deg, #000000, #737373); */

  position: relative;
  background: #000000;
  font-family: 'Standerd-Regular';
}

/* .doodleimage {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  background-image: url('./images/doodleY.jpg');
  opacity: 0.3;
}

.doodleimage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, black, transparent);
} */

@font-face {
  font-family: 'Standerd-Regular';
  src: url(Fonts/Standerd-Regular.otf);
}

@font-face {
  font-family: 'Roundelay-Thin';
  src: url(Fonts/Roundelay-Thin.ttf);
}

@font-face {
  font-family: 'ArgentumSans-Black';
  src: url(Fonts/ArgentumSans-Black.otf);
}

@font-face {
  font-family: 'Crosshatcher-vPOO';
  src: url(Fonts/Crosshatcher-vPOO.ttf)
}

@font-face {
  font-family: ' Wasted-Vindey.ttf';
  src: url(Fonts/Wasted-Vindey.ttf);
}

@font-face {
  font-family: 'Kugile_Demo';
  src: url(Fonts/Kugile_Demo.ttf);
}

@font-face {
  font-family: 'PankajThin-BgRV';
  src: url(Fonts/PankajThin-BgRV.ttf);
}

@font-face {
  font-family: 'Sakana';
  src: url(Fonts/Sakana.ttf);
}

@font-face {
  font-family: 'AstaghfirullohDemoRegular';
  src: url(Fonts/AstaghfirullohDemoRegular.ttf);
}

@font-face {
  font-family: 'GlacialIndifference-Regular';
  src: url(Fonts/GlacialIndifference-Regular.otf);
}